body {
  font-family: sans-serif;
  background: #f3f3f3;
  padding: 40px;
}

.container {
  background: white;
  padding: 20px 30px;
  border-radius: 8px;
  max-width: 800px;
  margin: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
}

button {
  margin-left: 10px;
  padding: 8px 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
}

th {
  background-color: #f5f5f5;
}

#status {
  margin-top: 10px;
  color: #444;
}


.pathogenic {
  color: #b22222; /* firebrick red */
  font-weight: bold;
}

.benign {
  color: #228b22; /* forest green */
}
